<div *ngIf="colony(); else loading" class="bg-gray-900 rounded-xl shadow-lg p-6">
  <h2 class="text-3xl text-white font-bold mb-4">
    Détail de la colonie : {{ colony()?.name }}
  </h2>
  <p class="text-gray-300 mb-6">
    Population : <span class="font-semibold">{{ colony()?.population }}</span>
  </p>
  <app-building-card
  *ngFor="let b of sortedBuildings()"
  [building]="b"
  [availableWater]="getResource('Water')"
  [availableMetal]="getResource('Metal')"
  (upgrade)="handleUpgrade($event)"
></app-building-card>
</div>
<ng-template #loading>
  <div class="flex items-center justify-center h-64">
    <p class="text-white text-xl">Chargement des informations...</p>
  </div>
</ng-template>
